<ul class="dropdown menu" data-dropdown-menu>

	<li> <a href="{{root}}research/" title="The Research">The Research</a>
		<ul class="vertical menu">

      <li><a title="Optoacoustic Imaging" href="{{root}}/research/optoacoustic_imaging.html">Optoacoustic Imaging</a></li>
      <li><a title="Point Radiance Spectroscopy" href="{{root}}research/point_radiance_spectroscopy.html">Point Radiance Spectroscopy</a></li>
			<li><a title="Raman Spectroscopy" href="{{root}}research/raman_spectroscopy.html">Raman Spectroscopy</a></li>
		</ul>
	</li>

  <li> <a href="{{root}}team.html" title="The Team">The Team</a> </li>

		<li> <a href="{{root}}funding_partners.html" title="Funding Partners">Funding Partners</a> </li>

		<li> <a href="{{root}}library.html" title="Scientific Library">Scientific Library</a> </li>

    <li> <a href="{{root}}contact.html" title="Contact Us">Contact Us</a> </li>

    <li> <a href="{{root}}links.html" title="Links">Links</a> </li>
</ul>
